:root {
  --color-primary: #04c780;
  --color-secondary: #ffab91;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-disabled:#a6a6a6;
  --stroke-1: 1px solid rgba(0, 0, 0, 0.1);
  --stroke-2: 2px solid rgba(0, 0, 0, 0.2);
}
