:root {
  --color-primary: #04c780;
  --color-secondary: #ff4b4b;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-disabled:#a6a6a6;
  --color-stroke-1: rgba(0, 0, 0, 0.3);
  --color-stroke-2:  rgba(0, 0, 0, 0.2);
}
